/* navbar */
html,body{
  overflow-x: hidden;
}
body{
  padding-bottom: 100px;
}
.navbar{
  /* position: relative; */
  z-index: 999;
}
/* .navbar a{
  color: white;
} */
.navbar-brand{
  font-family: Viga;
  font-size: 32px;
}
.tombol{
  text-transform: uppercase;
  border-radius: 60px;
}
/* jumbotron */
.jumbotron .container{
  position: relative;
  z-index: 9999;
}
.jumbotron{
  position: relative;
  background-image: url(img/jumbotron-bg.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
}
.jumbotron::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}
.jumbotron .display-4{
  margin-top: 50px;
  font-weight: 150;
  text-shadow: 1px 1px 1px rgba(0, 0,0,0.7);
  font-size: 50px;
}
.jumbotron .display-4 span{
  font-weight: 500;
}
.jumbotron .btn{
  margin-top: 30px;
}
/* info panel */
.info-panel{
  box-shadow: 0 3px 20px rgba(0,0,0,0.3);
  border-radius: 12px;
  margin-top: -100px;
  background-color: whitesmoke;
  padding:20px;
}
/* working space */
.workingspace{
  text-align: center;
  margin-top: 120px;
}
.kolom-2{
  margin-top: 30px;
}
.kolom-2 span{
  font-weight: 500;
}
.kolom-2 h4{
  text-transform: uppercase;
  font-weight: 150;
  font-size: 52px;
  color:#164892;
}
.kolom-2 p{
  font-size: 18px;
  color: #ACACAC;
  font-weight: 200;
}
.testimonial{
  margin-top: 100px;
}
.testimonial .quote h5{
  text-align:center;
   color:#164892;
   font-weight: 250;
   font-style: italic;
   font-size: 24px;
}

.testimonial figure img{
  width: 60px;
  /* atas - kiri-kanan - bawah */
  margin: 25px 10px 10px;
  opacity: 0.4;
}
.testimonial figure img.utama{
  width: 87px;
  opacity: 1;
  margin-top: 5px;
}
.testimonial figure h5{
  font-size: 16px;
  font-weight: bold;
  color:#164892;
  font-style: normal;
  text-align: center;
}
.testimonial figcaption p{
  font-size: 12px;
  color: #ACACAC;
  margin-top: -10px;
}
.testimonial figcaption{
  text-align: center;
}

.footer p{
  font-size: 18px;
  color: #ACACAC;
}
.footer{
  margin-top: 100px;
}
@keyframes fadeIn{
	to{
		opacity: 1;
	}
}
.fade{
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}



/* Dekstop Version */
@media (min-width: 992px) {
  .navbar-brand, .nav-link{
    /* color: white !important; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  } 
  .nav-link{
  text-transform: uppercase;
  margin-right: 30px;
  }
  .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -6px;
  }
  .jumbotron{
    margin-top: 0;
    height: 640px;
  }
  .jumbotron .display-4{
  font-weight: 150px;
  font-size: 62px;
  }
  .jumbotron .display-4 span{
  font-weight: 500;
  }
  .info-panel img{
  width: 80px;
  height: 80px;
  }
  .info-panel h4{
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  }
  .info-panel p{
  text-align: left;
  font-size: 14px;
  color: #ACACAC;
  margin-top: -5px;
  font-weight: 200;
  }
  .workingspace{
    text-align: left;
  }
  .testimonial h5{
   font-size: 32px;
  }
}
@media(max-width:576px){
  .navbar{
    position: relative;
    background-color: rgb(27, 25, 25);
    z-index: 999;
  }
 .navbar-toggler {
      border-color: rgb(255,102,203);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .jumbotron{
    margin-top: -60px;
  }
  .info-panel img{
     width: 80px;
    height: 80px;
  }
  .content-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Jquery Effect */
/* Info Panel */
.panel-translate-y{
  transition: 0.3s;
  transform: translateY(-320px);
  opacity: 0;
}

/* Working space */
.workingspace-kiri,.content-quote-kanan{
  transition: 0.7s;
  transform: translateX(-320px);
  opacity: 0;
}
.content-quote-kanan{
  transform: translateX(320px);
  opacity: 0;
}
.show-translate{
  opacity: 1;
  transform: translate(0,0);
}
